<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enquete WEB !</h1>
    <h2>Voce Teria Coragem de Ir para Marte sem viagem de volta ?</h2>
    <a href="/Home/Responder">
    <button>Responder</button></a>
</body>
</html>