@Model MVC_Enquete.Models.Resposta
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EnqueteWeb!</h1>
    <h2>Voce teria coragem de ir para marte sem Volta  ?</h2>

    <form method="post">
        <div>
            <label for="txtNome">Digite seu Nome: </label>
            <input type="text" id="txtNome" name="Nome">
        </div>
        <div>
             <label for="txtEmail">Digite seu E-Mail: </label>
             <input type="email" id="txtEmail" name="Email">
        </div>
        <div>
            <label for="rdSim">SIM !</label>
            <input type="radio" name="Sim" id="rdSim" value="true">
        </div>
        <div>
            <label for="rdNao">NAO !</label>
            <input type="radio" name="Sim" id="rdNao" value="false">
    </div>
    <button type="submit">Enviar Formulario !</button>
    </form>
</body>
</html>