* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    background-color: antiquewhite;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(5vw auto 5vw, 1fr));
    grid-gap: 6px;
    grid-template-areas:
     " H H H H H H H H H H H H H H "
     " A A C C C C C C C C C C C C "
     " F F F F F F F F F F F F F F "
     ;
}

header {
    background-color: rgb(0, 0, 0);
    grid-area: H;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
    
}

header > div {
    background-color: rgb(210, 210, 239);
    margin-left: auto;
    font-size: 27px;
    line-height: 40px;
    border-radius: 10px;
    margin-left: 20px;
    padding: 4px;
}

main aside {
    background-color: rgb(184, 170, 170);
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: A;
    justify-content: space-evenly;
    padding: 5px;
}

aside > div {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    height: 10%;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;    
}

main > article{
    background-color: blueviolet;
    grid-area: C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: space-around;
    

}

article > div {
    border: dotted 2px black;
    width: 48%;
    text-align: center;
    line-height: 240px;
}

main > footer {
    background-color: black;
    grid-area: F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

div:hover {
    background-color: red;
}