* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    background-color: antiquewhite;
    height: 100vh;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas: "H H H H H H H H H H H H H H H H H H H H"
                         "M M M S S S S S S S S S S S S S S E E E"
                         "M M M F F F F F F F F F F F F F F F F F";
}

header, nav, article, aside, footer {
    display: grid;
    place-items: center;
    color: rgb(255, 1, 1);
    font-size: 1.5rem;
}

header {
    background-color: blue;
    grid-area: H;
}

nav {
    background-color: aqua;
    grid-area: M;
}

article {
    background-color: aquamarine;
    grid-area: S;
}

aside {
    background-color: blueviolet;
    grid-area: E;
}

footer {
    background-color: black;
    grid-area: F;
}