body {
    margin: 0;
    padding: 0;
}

h1, h2, p {
    margin: 0;
}

div.conteiner {
    width: 80vw;
    height: 100vh;
    background-color: antiquewhite;
    margin: 0 auto;
}

div.cabecalho {
    height: 120px;
    background-color: blueviolet;
}

div.corpo {
    background-color: rgb(241, 202, 175);
    height: calc(100vh - 240px);
    border: 0px;
}

div.menu {
    width: 200px;
    height: 100%;
    display: inline-block;
    background-color: aqua;
    float: left;
    clear:none;  
}

div.conteudo {
    height: 100%;
    width: calc(80vw - 200px);
    display: inline-block;
    background-color: rgb(28, 189, 230);
}

div.rodape{
    height: 120px;
    background-color: blue;
}