body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover {
    background-color: blueviolet;
    transition: 1s;
    border-radius: 20px;
}