* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 10vh;
    flex-grow: 1;
    background-color: black;
}

main {
    display: flex;
    flex-direction: row;
    height: 80vh;
    background-color: aqua;

}

main > article {
    flex-direction: column;
    width: 15vw;
    background-color: bisque;  
}

main > nav {
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(245, 140, 11);

}

main > aside {
    flex-direction: column;
    width: 15vw;
    background-color: beige;
}

footer {
    display: flex;
    flex-grow: 1;
    background-color: black;
    height: 10vh;
}

header, footer, article, nav, aside {
    padding: 20px;
}